h1 {
    color : rgb(186, 182, 83);
    text-align: center;
    text-decoration: red dotted line-through;
    font-family: Tahoma;  
}

p {
    color : rgb(244, 17, 232);
    text-align: center;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
}

button {
    color:black;
    background-color: burlywood;
}

body {
    background-color: black;
}